Repository jjmonsalveg/front-end-path, pull requests merged in 2023-05, with the labels that each got.

#51 Clase del dia 08-05
  .editorconfig
  README.md
  sample_jekyll/_layouts/default.html
  sample_jekyll/_layouts/test.html
  sample_jekyll/css/main.css
  sample_jekyll/index.html
  sample_jekyll/tested.html
Labels: documentation, refactor

#53 clase del dia 9 Mayo
  sample_jekyll/_includes/head.html
  sample_jekyll/_layouts/default.html
Labels: jekyll

#57 clase del Thu May 11 06:15:00 2023
  sample_jekyll/_layouts/default.html
  sample_jekyll/css/main.css
Labels: classroom

#58 Posicionamiento, logo real y documentacion
  README.md
  images/learn-enough-html/box_model.png
  images/learn-enough-html/layout_standard.png
  images/learn-enough-html/positioning/position-absolute.png
  images/learn-enough-html/positioning/position-fix.png
  images/learn-enough-html/positioning/position-relative.png
  sample_jekyll/_includes/header.html
  sample_jekyll/css/main.css
  sample_jekyll/images/logo.png
Labels: documentation, css, classroom

#61 Finish initial layout
  sample_jekyll/_includes/footer.html
  sample_jekyll/_includes/header.html
  sample_jekyll/_includes/nav-links.html
  sample_jekyll/_layouts/default.html
  sample_jekyll/css/main.css
Labels: css, classroom

#63 Refactorice el default layout
  sample_jekyll/_layouts/default.html
  sample_jekyll/index.html
Labels: classroom, jekyll

#66 Clase del dia 30 may
  README.md
  learn_enough_js_tutorial/index.html
Labels: classroom, js
