Repository jjmonsalveg/front-end-path, pull requests merged in 2023-08, with the labels that each got.

#87 Js(classroom): Primeros pasos con JS + HTML
  README.md
  diagram.excalidraw
  learn_enough_js_tutorial/index.html
Labels: classroom, js, html

#89 Contador de palabras
  learn_enough_js_tutorial/count.js
Labels: classroom, js

#91 Clases de csss
  sample_jekyll/css/main.css
  sample_jekyll/index.html
Labels: css, classroom, jekyll, responsive

#85 Añada ejercicio 13.1.1
  sample_jekyll/_layouts/post.html
  sample_jekyll/css/main.css
Labels: bug, css, jekyll, homework

#95 Clases CSS
  sample_jekyll/_includes/header.html
  sample_jekyll/_includes/nav-links.html
  sample_jekyll/css/main.css
Labels: css, classroom, jekyll, html

#97 fix(nav-links): Repare checkbox y tag mal cerrada
  sample_jekyll/_includes/nav-links.html
  sample_jekyll/css/main.css
Labels: bug, css, classroom, jekyll, refactor, html

#96 classroom Js
  README.md
  learn_enough_js_tutorial/count_with_map.js
  learn_enough_js_tutorial/day.js
  learn_enough_js_tutorial/index.html
  learn_enough_js_tutorial/palindrome.js
Labels: classroom, js
