Repository jjmonsalveg/front-end-path, pull requests merged in 2023-07, with the labels that each got.

#76 Edite gallery index para ser una pagina de tres columnas
  sample_jekyll/css/main.css
  sample_jekyll/gallery/index.html
  sample_jekyll/gallery/test.html
  sample_jekyll/images/large/slide1.jpg
  sample_jekyll/images/small/slide1.jpg
  sample_jekyll/index.html
Labels: css, classroom

#78 feature(html-css): Anexe una nueva pagina de blogs
  sample_jekyll/_includes/nav-links.html
  sample_jekyll/_posts/2016-11-03-title-of-post.md
  sample_jekyll/blog/index.html
  sample_jekyll/css/main.css
Labels: css, classroom, html

#77 Hacer ejercicio 11.5.1
  sample_jekyll/css/main.css
Labels: css, classroom, homework

#83 fix (jekyll): Repare malos urls en html
  sample_jekyll/index.html
Labels: bug, jekyll, html

#84 exercises 12.3.1 ejercicio 1
  Gemfile.lock
  sample_jekyll/_includes/post-excerpt.html
  sample_jekyll/blog/index.html
  sample_jekyll/index.html
Labels: bug, jekyll, html

#86 feat(mobile): Anexando cambios mobile
  sample_jekyll/_includes/head.html
  sample_jekyll/css/main.css
Labels: css, classroom, jekyll, responsive
